includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 6
    paths:
        - src/Controller
        - src/Repository
        - src/Service

# Ignore rules can be added here if needed
