<form method="post" action="{{ path('admin_activity_delete', {'id': activity.id}) }}" class="inline-form" onsubmit="return confirm('Delete this activity?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete_activity_' ~ activity.id) }}">
    <button class="btn btn-sm btn-danger"><i class="fa-regular fa-trash-can btn-icon" aria-hidden="true"></i>Delete</button>
</form>
